# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: The SALT Lab
email: harwath@utexas.edu
description: > # this means to ignore newlines until "baseurl:"
  Our research group investigates machine learning models and methodologies for spoken language and audio processing.
  We are particularly interested in multi-modal learning (for example, audio-visual), as well as approaches based on unsupervised/self-supervised learning for low-resource languages and domains.
  We are part of the Computer Science department at The University of Texas at Austin, and are located near the heart of campus in the beautiful and bright Gates-Dell Complex.

# GitHub Pages settings
baseurl: ""  # Leave empty if using custom domain, or "/repository-name" if using username.github.io/repository-name
url: "https://ut-saltlab.github.io"  # Update with your actual GitHub Pages URL

include:
  - _pages

sass:
  sass_dir: _sass

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false



# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links
